<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GameDevMadeEasy - Gamehook Smart Mapper UI</title>
</head>
  <body style="overflow-x:hidden; overflow-Y:hidden;" scrolling="no" seamless="seamless">
    <div id="app">
      <div v-if="ready == false">
        Loading...
      </div>
      <div v-else>
        <!-- Displays Always -->
        <div class="Splits" style="position: absolute;z-index: 1">
          <iframe class="SplitsFrame" src="GymSplits.html" width="1920" height="1080" frameBorder="0" style="position: absolute; left: -35px"></iframe>
        </div>
        <!-- Main background. Easy to change provided it is either an html link or the image is stored in images/background, then rename to the proper file -->
        <img alt="bg" src="images/background/Background.png" width="1900" height="1060">
        <img p class="sprite" style="position: absolute;top: 700px;left: 100px;" width="200" height="200"
             :src="PokemonSprites()" />
        <div class="Badges" v-if="GameVersionState() === 1">
          <iframe class="Badge" style="position: absolute;top: 890px;" width="500" height="200" src="GenOneFireRedLeafGreenBadges.html" frameBorder="0"></iframe>
        </div>
        <div class="Badges" v-if="GameVersionState() === 2">
          <iframe class="Badge" style="position: absolute;top: 890px;" width="500" height="200" src="GenTwoGymBadges.html" frameBorder="0"></iframe>
        </div>
        <div class="Badges" v-if="GameVersionState() === 3">
          <iframe class="Badge" style="position: absolute;top: 890px;" width="500" height="200" src="GenOneFireRedLeafGreenBadges.html" frameBorder="0"></iframe>
        </div>
        <div class="Badges" v-if="GameVersionState() === 4">
          <iframe class="Badge" style="position: absolute;top: 890px;" width="500" height="200" src="GenThreeGymBadges.html" frameBorder="0"></iframe>
        </div>
        <!-- End Displays Always -->

        <!-- Conditionally Displays -->
        <div class="teamView">
          <iframe class="frame" style="position: absolute;left: 1625px; top:150px" src="GenOneTeamView.html" width="260" height="650" frameBorder="0"></iframe>
        </div>
        <!-- End Conditionally Displays -->

        <!-- Battle and Over World States -->
        <div class="battleState" v-if="BattleState() === 0" style="transform: scale(1, 1); position: absolute; top: 455px;left: 40px; width:270px;">
          <iframe class="battleStateFrame" :src="SwapBattleToOverWorldState()" frameBorder="0"></iframe>
        </div>
        <div class="battleState" v-if="BattleState() === 1" style="transform: scale(1, 1); position: absolute; top: 450px;left: 54px; width:270px;">
          <iframe class="battleStateFrame" :src="SwapBattleToOverWorldState()" frameBorder="0"></iframe>
        </div>
        <div class="battleState" v-if="BattleState() === 2" style="transform: scale(1, 1); position: absolute; top: 455px;left: 40px; width:270px;">
          <iframe class="battleStateFrame" :src="SwapBattleToOverWorldState()" frameBorder="0"></iframe>
        </div>
        <div class="battleState" v-if="BattleState() === 3" style="transform: scale(1, 1); position: absolute; top: 450px;left: 54px; width:270px;">
          <iframe class="battleStateFrame" :src="SwapBattleToOverWorldState()" frameBorder="0"></iframe>
        </div>
        <div class="battleState" v-if="BattleState() === 4" style="transform: scale(1, 1); position: absolute; top: 450px;left: 54px; width:270px;">
          <iframe class="battleStateFrame" :src="SwapBattleToOverWorldState()" frameBorder="0"></iframe>
        </div>
        <div class="battleState" v-if="BattleState() === 5" style="transform: scale(1, 1); position: absolute; top: 450px;left: 54px; width:270px;">
          <iframe class="battleStateFrame" :src="SwapBattleToOverWorldState()" frameBorder="0"></iframe>
        </div>
        <!-- End Battle and Over World States -->
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/@microsoft/signalr@latest/dist/browser/signalr.min.js"></script>
    <script src="http://localhost:8085/dist/gameHookMapperClient.js"></script>
    <!-- VUE APP IMPORT -->
    <script type="text/javascript" src="scripts/vue.js"></script>
  </body>
</html>